/*universal styles */

html {
  font-size: 18px;

}

body {
  line-height: 1.4;
  font-family: Helvetica;
  background-color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  font-weight: bold;
  padding: 0.5rem 0 0.5rem 1.25rem;
  color: white;
  font-size: 1rem;
}

.header {
  height: 30rem;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}


.greenbar {
  position: relative;
  width: 100%;
  top: 1rem;
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 2rem;
}

.logo span {
  color: white;
}

.nav span,
.mobilenav {
  color: white;
  padding-right: 2rem;
}

.mobilenav {
  display: none;
}

.abovewhite {
  display: flex;
  justify-content: flex-end;
  margin-right: 12%;
  margin-top: 10rem;
  flex-direction: column;
  align-items: flex-end;
}

.whitebar {
  background-color: white;
  position: relative;
  padding: 1.5rem 5rem;
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
  }

  .greenbar {
    top: 0rem;
  }

  .header {
    height: 22rem;
  }

  .abovewhite {
    margin-top: 5rem;
  }

  h1 {
    font-size: 1.33rem;
  }

  .abovewhite {
    margin-right: 0%;
  }

  .whitebar {
    padding: 0.75rem 4rem;
  }

} /*end of 1024 css */

@media only screen and (max-width: 720px) {
  .nav {
    display: none;
  }

  .mobilenav {
    display: block;
    text-align: center;
  }

  .header {
    height: 17rem;
    background-position: 20%;
  }

  .abovewhite {
    margin-top: 9rem;
    display: block;
  }

  .whitebar {
    padding: 1rem

  }
  h1 {
    text-align: center;
    font-size: 1rem;
  }
}


.middleimages {
  margin: 3rem 0 3rem 0;
  display: flex;
  flex-direction: row;
}

.container .middleimages {
  justify-content: center;
}

.services {
  height: 8rem;
  width: 5rem;
  padding: 0 3rem 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

}

.services img {
  width: 3.5rem;
}

@media only screen and (max-width: 720px) {
  .middleimages {
    margin: 3.77rem 0 3.77rem 0;
    flex-direction: column;
    align-items: center;
  }

  .services span {
    font-size: 0.77rem;
    padding-top: 1rem;
  }

  .services img {
    padding: 1.54rem 0 0 0;
  }

  .services {
    justify-content: flex-start;
  }
}

.textcontent {
  display:inline-flex;
  justify-content: space-around;
  padding-top: 3rem;
  width: 100%;
}

.smallgreenbar {
  background-color: cadetblue;
  width: 10rem;
  font-weight: bold;

}

.contentbox {
  padding-right: 5%;
  width: 35%;
}


@media only screen and (max-width: 720px) {
  .textcontent {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    align-items: center;

  }

  .contentbox {
    width: 100%;
    padding-right: 0%;
  }

  .smallgreenbar {
    width: 100%;
    text-align: center;
  }

  .contentbox p {
    font-size: 0.77rem;
    margin-top: 1rem;
  }

  .contentbox.appointment {
    margin-top: 4rem;
  }
}




.footer {
  margin-top: 5rem;
  display: flex;
  padding: 4rem 0 4rem 4rem;
  background-color: azure;
}

.footer img {
  height: 1.5rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 720px) {
  .footer span {
    display: none;
  }

  .footer {
    justify-content: center;
    padding: 4rem 0 4rem 0;
  }

  .footer img {
    padding-right: 0;
  }

}
